%p
	%strong Commenter:
	= comment.commenter
 
%p
	%strong Comment:
	= comment.body

%p
	= link_to 'Destroy Comment', [comment.post, comment], :confirm => 'Are you sure?', :method => :delete
